<ion-header class="ion-no-border"><ion-toolbar></ion-toolbar></ion-header>
<ion-content>
  <ion-slides
    #mySlider
    pager="true"
    [options]="slideOpts"
    (ionSlideDidChange)="slideChange()"
  >
    <ion-slide>
      <h2 class="text-4xl mb-5">Wähle deinen Benutzernamen</h2>
      <p class="text-base">
        Wie willst du von deinen Freunden gefunden werden?
      </p>

      <form *ngIf="user" class="mt-5 w-full">
        <ion-item class="w-full" lines="none">
          <ion-input
            class="w-full"
            placeholder="Benutzername"
            [(ngModel)]="user.customUsername"
            [ngModelOptions]="{standalone: true}"
          ></ion-input>
        </ion-item>
      </form>
    </ion-slide>
    <!--
    <ion-slide>
      <h2 class="text-4xl mb-5">Push</h2>
      <p>
        Um die App richtig zu verwenden musst du dir Telegram runterladen um
        Push Notifications zu empfangen. Setze in Telegram einen Benutzername
        und trage diesen hier ein.
      </p>
      <ion-button
        size="small"
        (click)="helper.openLink('https://t.me/shishawithme_bot')"
        >Bot öffnen</ion-button
      >

      <form class="w-full" *ngIf="user">
        <ion-item lines="none">
          <ion-input
            [(ngModel)]="user.telegramUsername"
            placeholder="Telegram Benutzername"
            [ngModelOptions]="{standalone: true}"
          ></ion-input>
        </ion-item>
      </form>
    </ion-slide>
  -->
  <!---
    <ion-slide>
      <h2 class="text-4xl mb-5">Wie ist dein Anzeigename?</h2>

      <form class="w-full" *ngIf="user">
        <ion-item lines="none">
          <ion-input
            [(ngModel)]="user.name"
            [ngModelOptions]="{standalone: true}"
          ></ion-input>
        </ion-item>
      </form>
    </ion-slide>
  -->
    <ion-slide>
      <h2 class="text-4xl mb-5">Wie willst du gefunden werden?</h2>
      <p class="text-base">Teile uns mit wie dich deine Freunde finden sollen.</p>
      <form
        class="w-full mt-5"
        [formGroup]="ionicForm"
        (ngSubmit)="submitForm()"
        novalidate
      >
        <ion-item class="mb-2">
          <ion-label>{{'SliderPage.QrCode' | translate}}</ion-label>
          <ion-checkbox formControlName="qrCode" slot="end"></ion-checkbox>
        </ion-item>
        <ion-text
          color="danger"
          class="error"
          *ngIf="isSubmitted && errorControl.qrCode.errors?.required"
        >
          <p class="ion-no-margin ion-margin-horizontal">
            {{'SliderPage.QrCode' | translate}} Code ist erforderlich.
          </p>
        </ion-text>

        <ion-item class="mb-8">
          <ion-label>{{'SliderPage.Benutzername' | translate}}</ion-label>
          <ion-checkbox formControlName="username" slot="end"></ion-checkbox>
        </ion-item>
        <!-- Error messages -->
        <ion-text
          color="danger"
          class="error"
          *ngIf="isSubmitted && errorControl.username.errors?.required"
        >
          <p class="ion-no-margin ion-margin-horizontal">
            {{'SliderPage.Benutzername' | translate}} ist erforderlich.
          </p>
        </ion-text>

        <ion-item class="mb-2">
          <ion-label>{{'SliderPage.Telefonnumber' | translate}}</ion-label>
          <ion-checkbox
            formControlName="telefonnumber"
            slot="end"
          ></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>{{'SliderPage.Instagran' | translate}}</ion-label>
          <ion-checkbox formControlName="instagran" slot="end"></ion-checkbox>
        </ion-item>
      </form>
    </ion-slide>
    <ion-slide>
      <h2 class="text-4xl mb-5">Ortungsdienste aktivieren</h2>
      <p class="text-base">
        Damit deine Freunde sehen können wo du Shisha rauchst, musst du deine Ortungsdienste freigeben.
      </p>



      <p class="text-base mt-12">
        Ortungsdienste - Safari
        <img loading="lazy" src="assets/safari_tracking.svg" />
      </p>

      <p class="text-base mt-4">
        Safari - Standort
        <img loading="lazy" src="assets/safari_tracking.svg" />
      </p>
    </ion-slide>

    <ion-slide>
      <div class="w-full h-full text-center flex flex-col justify-center content-center items-center">
        <img style="width: 150px;" loading="lazy" src="assets/check_animation.gif" />
        <h2 class="text-4xl mb-5 text-center">Du bist bereit.</h2>
      </div>
      
    </ion-slide>
  </ion-slides>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div>
      <div *ngIf="sliderNum == 0"></div>

      <ion-button *ngIf="sliderNum == 1 || sliderNum == 2" class="btn-secondary" (click)="back()"
        >{{'SliderPage.Back' | translate}}</ion-button
      >
      <ion-button
        color="primary"
        class="w-full mb-5"
        *ngIf="sliderNum < 3"
        (click)="next()"
        >{{'SliderPage.Continue' | translate}}</ion-button
      >
      
      <div *ngIf="sliderNum == 3" class="flex flex-col w-full">
        <ion-button
        (click)="share()"
          class="btn-secondary w-full mb-2"
          >{{'SliderPage.InviteFriends' | translate}}</ion-button
        >
        <ion-button
        class="w-full mb-5"
          color="primary"
          (click)="goTo()"
          >{{'SliderPage.Start' | translate}}</ion-button
        >

      </div>

    </div>
  </ion-toolbar>
</ion-footer>
