ion-slides {
  height: 100%;
  ion-slide {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    padding: 40px 20px;
    .wrapper {
      padding: 20px;
      background: #333;
      border-radius: 15px;

      h2 {
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: bold;
      }
      form {
        margin-top: 20px;
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }
}
::ng-deep {
  .swiper-pagination {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    padding: 20px;

    bottom: unset !important;
    .swiper-pagination-bullet-active {
      background: #fff !important;
      opacity: 1 !important;
    }
    .swiper-pagination-bullet {
      background: #fff !important;
      opacity: 0.5;
    }
  }
}

.error {
  font-size: 0.8em;
  text-align: left;
}
ion-toolbar {
  padding: 0 10px;
  > div {
    display: flex;
    justify-content: space-between;
  }
  ion-button {
    color: #fff;
  }
}
