ion-slides {
  height: 100%;
  ion-slide {
    padding: 20px;
    .wrapper {
      padding: 20px;
      background: #333;
      border-radius: 15px;

      h2 {
        margin-top: 0;
        margin-bottom: 30px;
        font-weight: bold;
      }
      form {
        margin-top: 20px;
        border-radius: 10px;
        overflow: hidden;
      }
    }
  }
}

.error {
  font-size: 0.8em;
  text-align: left;
}
ion-toolbar {
  padding: 0 10px;
  > div {
    display: flex;
    justify-content: space-between;
  }
}
