<div class="mt-4 px-8">
  Wo rauchst du?

  <ion-button color="primary" class="w-full font-normal mt-2" (click)="startSession(product, type)">Privat</ion-button>

  <ion-button color="primary" class="w-full font-normal mt-4" (click)="selectLocation()">Shisha Bar</ion-button>

  <div class="mt-8 text-lg">{{ product.name }}</div>


  <div class="mt-10 flex flex-row justify-between">
    <div>
      {{ product.description || "Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis distinctio possimus non temporibus odit mollitia enim ab inventore ea, reiciendis et facere quisquam laudantium tenetur eligendi suscipit aspernatur illo unde!" }}
    </div>
    <img loading="lazy" class="mx-auto object-contain h-28 rounded-full" [src]="helper.getImageUrl(product.image.url)" />
  </div>
</div>