<div class="mt-4 px-8">
  <div class="mt-4 text-lg">{{ product.name }} - {{ manufacturer.name }}</div>
  <div class="mt-0 flex flex-row justify-between">
    <div class="mt-2">
      {{ product.description  }}
    </div>
    <div class="relative">
      <img loading="lazy" class="mx-auto object-cover h-28 rounded-full" [src]="helper.getImageUrl(product?.image?.formats?.small?.url || product?.image.url)" />
      <div class="absolute top-0 right-0 bg-white rounded-full overflow-hidden flex justify-center items-center h-[40px] w-[40px]">
        <img loading="lazy" class="" [src]="helper.getImageUrl(manufacturer?.image?.formats?.small?.url || manufacturer?.image.url)" />
      </div>
    </div>
  </div>


  <div >
    <ion-button color="primary" class="w-full font-normal mt-2" (click)="startSession(product, type)">Privat</ion-button>
    <ion-button color="primary" class="w-full font-normal mt-4" (click)="selectLocation()">Shisha Bar</ion-button>
  </div>
</div>