.agb {
  .custom-control-label {
    font-size: 15px;
    color: #212529;
    font-weight: 400;
  }
}

.divider {
  display: block;
  height: 50px;
}

.light {
  color: #656e82;
}

ion-content {
  --background: #0e0e15;
  ion-segment {
    width: 90%;
    min-width: 300px;
    max-width: 370px;
    margin: 0 auto;
    ion-segment-button:not(.segment-button-checked) {
      color: #fff;
    }
  }
  .logo {
    height: 88px;
    width: 70%;
    margin: 70px auto;
  }

  .law {
    a {
      font-weight: bold;
    }
  }

  ::ng-deep {
    .center {
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .form-style {
      margin: 20px auto 50px;
      width: 90%;
      min-width: 300px;
      max-width: 370px;
      overflow: hidden;
      border-radius: 5px;
      background: #222428;
      ion-item {
        --background: transparent;
      }
      ion-label {
        white-space: normal;
      }
    }
  }
}

.social-login {
  margin-top: 20px;
  .btn-social {
    position: relative;

    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    i {
      font-size: 1.3em;
      text-align: center;
      width: 40px;
      margin-left: -10px;
      margin-right: 10px;
      border-right: 1px solid rgba(0, 0, 0, 0.2);
    }
    span {
      margin-top: 2px;
    }
  }

  .btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
  }
  .btn-instagram {
    color: #fff;
    background-color: #3f729b;
    border-color: rgba(0, 0, 0, 0.2);
  }
  .btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
  }
}

.spacer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}

.info {
  color: var(--contrastSwap);
  opacity: 0.9;
  padding: 10px;
  margin-top: 10px;
  p {
    padding: 0;
    margin: 0;
    font-weight: bold;
  }
}

.title {
  //  text-shadow: 0px 0 0px #F78A1C, 0 0 0px #F78A1C, 0 0 0px #F78A1C !important;
  .logo {
    width: 100px;
    height: 100px;
    background: #333;
    margin-bottom: 30px;
  }

  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
  font-size: 22px;
  width: 70%;
  margin: 30px auto;

  strong {
    font-weight: bolder;
    font-size: 35px;
  }

  span {
    font-size: 35px;

    font-weight: 300;
  }
}

.btn-container {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  color: var(--contrastSwap);

  ion-button {
    display: flex;
    align-items: center;
    // justify-content: center;
    font-weight: bold;
    margin-bottom: 10px;

    justify-content: flex-start;

    span.wrapper {
      text-align: left;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 0px;

      font-weight: 400;
      ion-icon {
        font-size: 20px;
        margin-right: 10px;
      }
      img {
        margin-right: 10px;
      }
    }

    span.text {
      margin-left: 10px;
      margin-top: 3px;

      font-size: 16px;
    }
    --background-activated: #000;
    --background-focused: #000;
    --background-hover: #000;

    &.ion-activated {
      color: #fff !important;
    }

    &.snapchat {
      --background: #fffc00;
      color: #000;
    }

    &.facebook {
      --background: #3b5998;
      color: #fff;
    }

    &.phone {
      --background: #ef233c;
      color: #fff;
    }

    &.instagram {
      --color: #000;
      --background: #ffffff;
      color: #000;
    }

    &.mail {
      --background: #f50b26;
      color: #fff;
    }

    &.google {
      color: #8a8a8a;
      --background: #fff;

      img {
        height: 22px;
        width: auto;
      }
    }

    &.apple {
      --background: #fff;
      color: #000;
    }
  }
}
