<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <ion-buttons>
      <ion-button>
        <ion-icon slot="start" name="logo-facebook"></ion-icon>Über Facebook
        anmelden</ion-button
      >
      <ion-button>
        <ion-icon slot="start" name="logo-google"></ion-icon>Über Google
        anmelden</ion-button
      >
      <ion-button>
        <ion-icon slot="start" name="call-outline"></ion-icon>Über Telefonnummer
        anmelden</ion-button
      >
      <ion-button>
        <ion-icon slot="start" name="logo-snapchat"></ion-icon>Über Snapchat
        anmelden</ion-button
      ></ion-buttons
    >
  </div>
</ion-content>
