<!--<ion-header>
  <ion-toolbar>
    <ion-title>Anmelden</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div class="btn-container">
    <div class="spacer">
      <div class="title">
        <div class="logo"></div>
        <div>
          <strong>Deine APP</strong><br />
          <span> WENN ES UM</span><br />
          <span> SHISHA</span><br />
          <span> GEHT</span>
        </div>
      </div>
    </div>
    <ion-button class="apple" expand="block" (click)="login('apple')">
      <span class="wrapper"
        ><ion-icon slot="start" name="logo-apple"></ion-icon
        ><span class="text">Login mit Apple</span></span
      >
    </ion-button>
    <!--<ion-button class="snapchat" expand="block" (click)="login('snapchat')">
      <span class="wrapper"
        ><ion-icon slot="start" name="logo-snapchat"></ion-icon
        ><span class="text">Login mit Snapchat</span></span
      >
    </ion-button>-->
    <ion-button class="facebook" expand="block" (click)="login('facebook')">
      <span class="wrapper"
        ><ion-icon slot="start" name="logo-facebook"></ion-icon
        ><span class="text">Login mit Facebook</span></span
      >
    </ion-button>
    <ion-button class="google" expand="block" (click)="login('google')">
      <span class="wrapper">
        <img src="/assets/icons/512px-Google__G__Logo.svg.webp" />
        <span class="text">Login mit Google</span></span
      >
    </ion-button>
    <ion-button class="phone" expand="block" (click)="login('phone')">
      <span class="wrapper">
        <ion-icon slot="start" name="call"></ion-icon>
        <span class="text">Login mit Telefonnummer</span>
      </span>
    </ion-button>
    <ion-button class="instagram" expand="block" (click)="login('instagram')">
      <span class="wrapper">
        <ion-icon slot="start" name="logo-instagram"></ion-icon>
        <span class="text">Login mit Instagram</span>
      </span>
    </ion-button>
    <!--<div class="info">
      <small>Hinweis</small>
      <p>Der Konsum von Shisha ist Gesundheitsschädlich</p>
    </div>-->
  </div>
</ion-content>
