<ion-content>
  <div class="btn-container p-5 px-8">
    <div
      class="logo bg-contain bg-center bg-no-repeat"
      [style.backgroundImage]="'url(assets/images/logo-light.svg)'"
    ></div>

    <h1 class="text-4xl">Willkommen bei Shisha with me.</h1>
    <p class="text-base">
      Benachrichtige deine Freunde wenn du eine Shisha rauchst, so dass sie sich
      dir anschließen können.
    </p>

    <ion-segment
      class="w-full my-3 mt-5"
      mode="ios"
      [value]="currentTab"
      (ionChange)="changeTab($event)"
    >
      <ion-segment-button mode="ios" value="login">
        {{ 'Sign in' | translate }}
      </ion-segment-button>
      <ion-segment-button mode="ios" value="register">
        {{ 'Sign up' | translate }}
      </ion-segment-button>
    </ion-segment>

    <div class="center" *ngIf="currentTab == 'login' && step == 1">
      <form class="w-full" #form="ngForm">
        <ion-item>
          <ion-input
            name="email"
            #email="ngModel"
            [(ngModel)]="model.email"
            [ngModelOptions]="{ standalone: true }"
            inputmode="email"
            autocomplete="email"
            required
            [placeholder]="'Email address' | translate"
          ></ion-input>
        </ion-item>
        <ion-item class="mt-3">
          <ion-input
            [ngClass]="{ error: password.touched && password.invalid }"
            name="password"
            [type]="showPassword ? 'text' : 'password'"
            #password="ngModel"
            [(ngModel)]="model.password"
            [ngModelOptions]="{ standalone: true }"
            required
            [placeholder]="'Password' | translate"
          ></ion-input>

          <ion-button fill="clear" (click)="showPassword = !showPassword">
            <ion-icon *ngIf="showPassword" name="eye-outline"></ion-icon>
            <ion-icon *ngIf="!showPassword" name="eye-off-outline"></ion-icon>
          </ion-button>
        </ion-item>

        <div
          class="alert alert-danger error-message"
          [hidden]="!errorStr || !submitted"
        >
          {{ 'auth.Login.error.' + errorStr | translate }}
        </div>
      </form>

      <ion-button class="w-full mt-7 bg-red" (click)="login()">
        {{ 'auth.Log In' | translate }}
      </ion-button>

      <!--<ion-button
        class="ion-margin-top light"
        fill="clear"
        (click)="step = 2; currentTab = 'login'"
      >
        {{ 'auth.Forgot pwd?' | translate }}</ion-button
      >
      <ion-button class="light" fill="clear" (click)="activateAccount()">
        {{ 'Activate account' | translate }}
      </ion-button>-->
    </div>

    <div class="center">
      <app-auth-reset-code
        class="center"
        *ngIf="step == 2"
        (passwordSend)="step = 3"
      ></app-auth-reset-code>
      <app-auth-new-password
        class="center"
        *ngIf="step == 3"
        (passwordReset)="step = 1"
      ></app-auth-new-password>

      <ion-button
        *ngIf="step == 2 || step == 3"
        fill="clear"
        class="ion-margin-top light"
        (click)="step = 1"
      >
        <ion-icon name="arrow-back" slot="start"></ion-icon>{{ 'Back' |
        translate }}
      </ion-button>
    </div>
    <app-register *ngIf="currentTab == 'register'"></app-register>
    <ion-note class="text-sm mt-5">
      Ich habe die Allgemeine Geschäftsbedingung und Datenschutzerklärung
      gelesen und akzeptiere diese.
    </ion-note>
  </div>
</ion-content>
