<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Kontakt</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Kontakt</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="px-5 py-5">
    <ion-radio-group
      ><ion-list>
        <ion-item class="mb-3"
          ><ion-label>Frage senden</ion-label>
          <ion-radio value="cord"></ion-radio
        ></ion-item>
        <ion-item class="mb-3"
          ><ion-label>Idee vorschlagen</ion-label>
          <ion-radio value="cor1d"></ion-radio
        ></ion-item>
        <ion-item class="mb-3"
          ><ion-label>Sonstiges </ion-label><ion-radio value="cor2d"></ion-radio
        ></ion-item> </ion-list
    ></ion-radio-group>
  </div>
  <div class="px-5">
    <ion-textarea
      class="px-3"
      autoGrow="true"
      placeholder="Nachricht ..."
    ></ion-textarea>
  </div>
  <div class="px-5 mt-5">
    <ion-button (click)="send()">Senden</ion-button>
  </div>
</ion-content>
