
<ion-content >
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/settings" color="dark"></ion-back-button>
      </ion-buttons>
      <ion-title >Suchtberatung</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card
    button
    (click)="helper.openLink('https://www.bzga.de/service/beratungsstellen/suchtprobleme/')"
  >
    <img loading="lazy" src="assets/no-smoke/support.png" />
    <ion-button size="small">Mehr Informationen</ion-button>
  </ion-card>

  <ion-list-header>Anlaufstellen</ion-list-header>

  <ion-card>
    <ion-card-header
      ><ion-card-subtitle>
        Get in - Anlauf- und Kontaktstelle für DrogengebraucherInnen
      </ion-card-subtitle></ion-card-header
    >
    <ion-card-content>
      <p>
        Kriegsstr. 76<br />
        76133 Karlsruhe<br />
        0721375635
      </p>
    </ion-card-content>
    <ion-button (click)="helper.openLink('tel:0721375635')" size="small"
      >Anrufen</ion-button
    >
  </ion-card>

  <ion-card>
    <ion-card-header
      ><ion-card-subtitle>
        AGJ-Suchtberatung im Main-Tauber-Kreis
      </ion-card-subtitle></ion-card-header
    >
    <ion-card-content>
      <p>
        Schmiederstr. 25<br />
        97941 Tauberbischofsheim<br />
        09341897370
      </p>
    </ion-card-content>
    <ion-button (click)="helper.openLink('tel:09341897370')" size="small"
      >Anrufen</ion-button
    >
  </ion-card>

  <ion-card>
    <ion-card-header
      ><ion-card-subtitle>
        Beratungsstelle des Blauenkreuzes - Außenstelle München-Nord
      </ion-card-subtitle></ion-card-header
    >
    <ion-card-content>
      <p>
        Schleißheimer Str. 487<br />
        80933 München<br />
        0891711292380
      </p>
    </ion-card-content>
    <ion-button (click)="helper.openLink('tel:0891711292380')" size="small"
      >Anrufen</ion-button
    >
  </ion-card>

<!--

  <ion-card>
    <ion-card-header
      ><ion-card-title> Wasserpeife </ion-card-title></ion-card-header
    >

    <img
      loading="lazy"
      src="assets/no-smoke/Wasserpfeife_/Wasserpfeife_-1.jpg"
    />
  </ion-card>

  <ion-card>
    <img
      loading="lazy"
      src="assets/no-smoke/Wasserpfeife_/Wasserpfeife_-2.jpg"
    />
  </ion-card>

  <ion-card>
    <ion-card-header
      ><ion-card-title> Beratungstelefon </ion-card-title></ion-card-header
    >

    <img
      loading="lazy"
      src="assets/no-smoke/berartungstelefon/berartungstelefon-1.jpg"
    />
  </ion-card>

  <ion-card>
    <img
      loading="lazy"
      src="assets/no-smoke/berartungstelefon/berartungstelefon-1.jpg"
    />
  </ion-card>

-->

  <ion-card>
    <ion-card-header
      ><ion-card-title>
        Shisha Rauchen ist riskant
      </ion-card-title></ion-card-header
    >

    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-01.jpg"
    />
  </ion-card>

  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-02.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-03.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-04.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-05.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-06.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-07.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-08.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-09.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-10.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-11.jpg"
    />
  </ion-card>

  <ion-card>
    <ion-card-header
      ><ion-card-title>
        Tabak Basisinformation
      </ion-card-title></ion-card-header
    >

    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-01.jpg"
    />
  </ion-card>

  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-02.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-03.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-04.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-05.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-06.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-07.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-08.jpg"
    />
  </ion-card>

  <ion-card>
    <ion-card-header
      ><ion-card-title> Rauchfrei Kalender </ion-card-title></ion-card-header
    >
    <ion-button
      (click)="helper.openPdf('/assets/pdfs/rauchfrei_kalender.pdf')"
      size="small"
      >Mehr Informationen</ion-button
    >
  </ion-card>

  <ion-card>
    <img loading="lazy" src="assets/no-smoke/cancel_smoke.png" />
    <ion-card-header>
      <ion-card-title>5 Gründe aufzuhören</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ausstiegsprogramm</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Melden Sie sich kostenfrei an und starten Sie in Ihre rauchfreie Zukunft!
    </ion-card-content>
    <ion-button size="small">Jetzt registrieren</ion-button>
  </ion-card>

  <ion-card class="flex">
    <img loading="lazy" src="assets/no-smoke/1.png" />
  </ion-card>

  <ion-card class="flex">
    <img loading="lazy" src="assets/no-smoke/2.png" />
  </ion-card>

  <ion-card class="flex">
    <img loading="lazy" src="assets/no-smoke/3.png" />
  </ion-card>

  <ion-card class="flex">
    <img loading="lazy" src="assets/no-smoke/4.png" />
  </ion-card>

  <!--

  <ion-card button (click)="addictionCounseling()">
    <ion-card-header>
      <ion-card-subtitle>Informationen</ion-card-subtitle>
      <ion-card-title>Suchtberatung</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button (click)="addictionInformation()">
    <ion-card-header>
      <ion-card-subtitle>Informationen</ion-card-subtitle>
      <ion-card-title>Info & Aufklärung</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card button (click)="addictionMotivation()">
    <ion-card-header>
      <ion-card-subtitle>Informationen</ion-card-subtitle>
      <ion-card-title>Motivation</ion-card-title>
    </ion-card-header>
  </ion-card>-->
</ion-content>
