<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bewertungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bewertungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="no-items" *ngIf="!(data?.length > 0)">
    Noch keine Einträge vorhanden
  </div>
</ion-content>
