<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Motivation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/no-smoke/cancel_smoke.png" />
    <ion-card-header>
      <ion-card-title>5 Gründe aufzuhören</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Ausstiegsprogramm</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Melden Sie sich kostenfrei an und starten Sie in Ihre rauchfreie Zukunft!
    </ion-card-content>
    <ion-button size="small">Jetzt registrieren</ion-button>
  </ion-card>

  <ion-card class="flex">
    <img src="assets/no-smoke/1.png" />
  </ion-card>

  <ion-card class="flex">
    <img src="assets/no-smoke/2.png" />
  </ion-card>

  <ion-card class="flex">
    <img src="assets/no-smoke/3.png" />
  </ion-card>

  <ion-card class="flex">
    <img src="assets/no-smoke/4.png" />
  </ion-card>
</ion-content>
