ion-content {
  // --background: #292b2b !important;
  // --overflow: hidden;
}
/*
ion-title {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    height: 41px;
    margin: 5px auto 0;
  }
}*/

video {
  width: 100vw;
  position: fixed;
  top: 100px;
  pointer-events: none;
  z-index: 10;
}
.cupertino-pane {
  display: none;
  z-index: 1000;
}
.selector {
  display: block;
  margin: 50px auto;
  height: 100px;
  width: 100px;
}

ion-slides.first {
  // margin: 25px 0 10px 0;
  height: 300px;

  // height: calc(100vh - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible !important;

  margin-top: -30px;


  ion-slide.first-slide {
    opacity: 0.5;
    .slide-item-manufactur {
      transition: all ease-in-out 0.3s;
      transform: scale(0.4);
    }
    &.swiper-slide-active {
      opacity: 1;
      .slide-item-manufactur {
       transform: scale(1)!important;
      }
      
    }
  }
}

ion-slides {
  ion-slide.product-slide {
    &.swiper-slide-active {
      div.slide-item {
       transform: scale(0.9);
      }
      
    }
  }
}

ion-slides.inner-slides {
  z-index: 5;
  overflow: visible !important;
  ion-slide {
    opacity: 0.5;
    .slide-item {
       transform: scale(0.6);
      transition: all ease-in-out 0.3s;
    }
    &.swiper-slide-active {
      opacity: 1;
      .slide-item {
       transform: scale(0.6);
      }
      
    }
  }
}
ion-slides ion-slide.swiper-slide-active {
  z-index: 1;
}
.slide-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  width: 200px;
  // margin-bottom: 40px;

  .item-title {
    margin-top: -25px;
    background: rgb(0 0 0 / 58%);
    padding: 3px 19px;
    border-radius: 10px;
    z-index: 10;
  }
  .inside-dot {
    display: block;

    //background: #333;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}
.dot {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 0;
  width: 0;
  z-index: 2;
  box-shadow: 0 0 214px 134px rgba(255, 255, 255, 0.1);
}
.map {
  position: absolute;
  height: 40vh;
  bottom: -25px;
  left: 0;
  width: 100vw;
  z-index: 100;

  google-map {
    pointer-events: none;
    width: 100vw;
    ::ng-deep .map-container {
      width: 100vw !important;
    }
  }

  .overlay {
    position: absolute;

    top: -26px;
    left: 0;
    width: 101%;
    height: 50px;
    z-index: 1;
    pointer-events: none;
  }
}