<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <div class="flex flex-col items-center pt-4">
      <img src="assets/images/logo-light.svg" class="w-20">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content
  [fullscreen]="true"
  [style.--overflow]="searchTerm ? 'scroll' : 'hidden'"
>
  <div class="p-3 px-6 flex justify-center h-20">
    <ion-searchbar
      class="z-10 h-5/6"
      [(ngModel)]="searchTerm"
      (ngModelChange)="search()"
      placeholder="Suche..."
    ></ion-searchbar>
  </div>

  <!--<div class="dot"></div>-->
  <video
    #videoElm
    muted
    preload="auto"
    playsinline
    onloadedmetadata="this.muted = true"
    [@visibilityChanged]="visiblityState"
  >
    <source
      src="/assets/videos/rauch-1.webm"
      type="video/webm"
      *ngIf="!platform.SAFARI"
    />
    <source src="/assets/videos/rauch-1.mp4" type="video/mp4" />
  </video>

  <!--<swiper [slidesPerView]="4" [spaceBetween]="30" [centeredSlides]="true">
    <ng-template swiperSlide *ngFor="let slide of manufacturers">
      <swiper
        [direction]="'vertical'"
        [slidesPerView]="4"
        [spaceBetween]="30"
        [centeredSlides]="true"
      >
        <ng-template swiperSlide>
          <div class="slide-item" (click)="selectSession(slide, 'manufactur')">
            <div
              class="inside-dot"
              [style.backgroundImage]="'url(' + helper.getImageUrl(slide.image?.url) + ')'"
            ></div>
            <div class="item-title">{{slide.name}}</div>
          </div>
        </ng-template>
        <ng-template swiperSlide *ngFor="let children of slide.smoke_products">
          <div
            class="slide-item inner-slide"
            (click)="selectSession(children, 'product')"
          >
            <div
              class="inside-dot"
              [style.backgroundImage]="'url(' + helper.getImageUrl(children.image?.url) + ')'"
            ></div>
            <div class="item-title">{{children.name}}</div>
          </div>
        </ng-template></swiper
      >
    </ng-template>
  </swiper>-->

  <div *ngIf="searchTerm" class="p-5">
    <div *ngFor="let slide of sorted">
      <ng-container *ngIf="slide.smoke_products?.length > 0">
        <div class="py-3 font-bold">{{slide.name}}</div>
        <div class="grid grid-cols-2 gap-4 mb-3">
          <div
            class="bg-white rounded-2xl"
            *ngFor="let children of slide.smoke_products"
          >
            <img
              loading="lazy"
              class="mx-auto object-contain h-28"
              [src]="helper.getImageUrl(children.image?.formats?.medium?.url ||children.image?.url)"
            />
            <div class="text-center text-black py-2">{{children.name}}</div>
          </div>
        </div>
      </ng-container>
    </div>

    <div *ngIf="smokeProducts(sorted)" class="py-5 text-white">
      Keine Ergebnisse
    </div>
  </div>

  <ion-slides
    [hidden]="searchTerm"
    #mainSlider
    class="first"
    [options]="slideOpts"
  >
    <ion-slide *ngFor="let slide of manufacturers">
      <ion-slides #subSlider [options]="slideOptsVert">
        <ion-slide>
          <div class="slide-item" (click)="selectSession(slide, 'manufactur')">
            <div
              class="inside-dot"
              [style.backgroundImage]="'url(' + helper.getImageUrl(slide.image?.formats?.medium?.url || slide.image?.url) + ')'"
            ></div>
            <div class="item-title">{{slide.name}}</div>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let children of slide.smoke_products">
          <div
            class="slide-item inner-slide"
            (click)="selectSession(children, 'product')"
          >
            <div
              class="inside-dot"
              [style.backgroundImage]="'url(' + helper.getImageUrl(children.image?.formats?.medium?.url ||children.image?.url) + ')'"
            ></div>
            <div class="item-title">{{children.name}}</div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-slide>
  </ion-slides>

  <!--<div class="map" (click)="openMapModal()">
    <div class="overlay"></div>
    <google-map #map [center]="center" [zoom]="zoom" [options]="options">
      <map-marker
        *ngFor="let markerPosition of markerPositions"
        [position]="markerPosition"
      ></map-marker>
    </google-map>
  </div>-->
  <!--
  <ion-fab
    vertical="bottom"
    horizontal="start"
    slot="fixed"
    [routerLink]="['/advertising']"
  >
    <ion-fab-button>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->

  <!--
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="sharePosition()">
      <ion-icon name="share-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openMapModal()">
      <ion-icon name="map-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">
      <ion-fab-button (click)="sharePosition()" data-desc="Position teilen"
        ><ion-icon name="share-outline"></ion-icon
      ></ion-fab-button>

      <ion-fab-button
        data-desc="Position bestimmen"
        (click)="getCurrentPosition()"
        [disabled]="locationLoading"
      >
        <ion-icon *ngIf="!locationLoading" name="location-outline"></ion-icon>
        <ion-spinner *ngIf="locationLoading"></ion-spinner>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>-->

  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>
<!--
<div class="cupertino-pane-home">
  <app-map *ngIf="cupertino"></app-map>
</div>-->
