<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="dot"></div>

  <ion-slides *ngIf="loadIcons" #mainSlider class="first" [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides">
      <ion-slides [options]="slideOptsVert">
        <ion-slide>
          <div class="slide-item" (click)="selectSession()">
            <div
              class="inside-dot"
              [style.backgroundImage]="'url(' + slide.image + ')'"
            ></div>
          </div>
        </ion-slide>
        <ion-slide *ngFor="let children of slide.children">
          <div class="slide-item" (click)="selectSession()">
            <div
              class="inside-dot"
              [style.backgroundImage]="'url(' + children.image + ')'"
            ></div>
          </div>
        </ion-slide>
      </ion-slides>
    </ion-slide>
  </ion-slides>

  <div class="map" (click)="openMap()">
    <div class="overlay"></div>
    <google-map #map [center]="center" [zoom]="zoom" [options]="options">
      <map-marker
        *ngFor="let markerPosition of markerPositions"
        [position]="markerPosition"
      ></map-marker>
    </google-map>
    <!--<agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="true"
      [styles]="mapService.getStyles()"
    >
      <agm-marker
        *ngFor="let marker of markers"
        [latitude]="marker.lat"
        [longitude]="marker.lng"
      ></agm-marker>
    </agm-map>-->
  </div>

  <ion-fab
    vertical="bottom"
    horizontal="start"
    slot="fixed"
    [routerLink]="['/advertising']"
  >
    <ion-fab-button>
      <ion-icon name="cart-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button (click)="openImageModal()" data-desc="Bild teilen"
        ><ion-icon name="camera-outline"></ion-icon
      ></ion-fab-button>

      <ion-fab-button (click)="sharePosition()" data-desc="Position teilen"
        ><ion-icon name="share-outline"></ion-icon
      ></ion-fab-button>

      <ion-fab-button
        data-desc="Position bestimmen"
        (click)="getCurrentPosition()"
        [disabled]="locationLoading"
      >
        <ion-icon *ngIf="!locationLoading" name="location-outline"></ion-icon>
        <ion-spinner *ngIf="locationLoading"></ion-spinner>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="camera-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>

<div class="cupertino-pane">
  <app-map *ngIf="cupertino"></app-map>
</div>
