ion-header {
  background: #000;
}
.selector {
  display: block;
  margin: 50px auto;
  height: 100px;
  width: 100px;
}
::ng-deep {
}

ion-slides.first {
  margin: 50px 0 10px 0;
  height: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-slides {
  ion-slide {
    opacity: 0.5;
    transform: scale(0.6);
    transition: all ease-in-out 0.3s;
    &.swiper-slide-active {
      opacity: 1;

      transform: scale(1);
    }
  }
}
.slide-item {
  display: block;
  margin: 0 auto;
  padding: 20px;
  height: 180px;
  width: 180px;
  .inside-dot {
    display: block;

    background: #333;
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }
}
.dot {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 0;
  width: 0;
  z-index: 2;
  box-shadow: 0 0 214px 134px var(--contrast);
}
.map {
  position: absolute;
  height: 52vh;

  bottom: -25px;
  left: 0;
  width: 100%;

  agm-map {
    height: 52vh;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
  }
}
