<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Freunde</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="createGroup()">
        <ion-icon
          slot="icon-only"
          name="people-outline"
          color="warning"
        ></ion-icon>
      </ion-button>
      <ion-button (click)="addFriend()">
        <ion-icon
          slot="icon-only"
          name="person-add-outline"
          color="warning"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Freunde</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item
      button
      [routerLink]="['/chat', friend.id]"
      *ngFor=" let friend of chatService.friends"
    >
      <ion-avatar slot="start">
        <img [src]="friend.image" />
      </ion-avatar>
      <ion-label
        ><h2>{{friend.name}}</h2>
        <p>{{friend.type}}</p></ion-label
      >
    </ion-item>
  </ion-list>

  <!--<ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="addFriend()"
  >
    <ion-fab-button>
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->

  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button data-desc="Freund hinzufügen" (click)="addFriend()"
        ><ion-icon name="person-add-outline"></ion-icon
      ></ion-fab-button>

      <ion-fab-button data-desc="Gruppe erstellen" (click)="createGroup()"
        ><ion-icon name="people-outline"></ion-icon
      ></ion-fab-button>
    </ion-fab-list>
  </ion-fab>-->
</ion-content>

<div class="cupertino-pane">
  <div class="center">
    <h3>Mein Code</h3>
    <ngx-qrcode
      *ngIf="value"
      [elementType]="elementType"
      [value]="value"
      [width]="200"
      [colorDark]="'#fff'"
      [colorLight]="'#080808'"
      cssClass="center"
      errorCorrectionLevel="L"
    >
    </ngx-qrcode>

    <ion-list lines="none">
      <ion-item button>
        <ion-icon slot="start" name="person-add-outline"></ion-icon>
        <ion-label>Nach Benutzername hinzufügen</ion-label>
      </ion-item>

      <ion-item button>
        <ion-icon slot="start" name="wifi-outline"></ion-icon>
        <ion-label>In der Nähe suchen</ion-label>
      </ion-item>

      <ion-item button>
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        <ion-label>QR-Code Scannen</ion-label>
      </ion-item>

      <ion-item button>
        <ion-icon slot="start" name="call-outline"></ion-icon>
        <ion-label>Aus Telefonbuch hinzufügen</ion-label>
      </ion-item>

      <ion-item button (click)="SocialSharing()">
        <ion-icon slot="start" name="share-social-outline"></ion-icon>
        <ion-label>Freund einladen</ion-label>
      </ion-item>
    </ion-list>
  </div>
</div>
