<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{user.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div
    class="user-image"
    [style.backgroundImage]="'url(' +  helper.getImageUrl(user.image?.url) + ')'"
  ></div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Benutzerprofil</ion-card-subtitle>
      <ion-card-title>{{user.name}}</ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let setup of user.setups">
        <ion-label>
          <small>{{setup.key}}</small>
          <h2>{{setup.value}}</h2></ion-label
        >
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nachrichten</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-chip color="secondary" (click)="sendMessage()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Guten Rauch! 💨</ion-label>
      </ion-chip>
      <ion-chip color="secondary" (click)="sendMessage()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Kann ich mitrauchen? 🙋‍♂️</ion-label>
      </ion-chip>
      <ion-chip color="secondary" (click)="sendMessage()">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Was für Tabak? 🤷‍♂️</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>QR Code teilen</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ngx-qrcode
        *ngIf="user.email"
        [elementType]="elementType"
        [value]="user.email"
        [width]="200"
        [colorDark]="'#fff'"
        [colorLight]="'#080808'"
        cssClass="center"
        errorCorrectionLevel="L"
      >
      </ngx-qrcode>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Standort</ion-card-subtitle>
    </ion-card-header>

    <google-map #map [center]="center" [zoom]="zoom" [options]="options">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker"
      ></map-marker>
    </google-map>
    <!--<agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="true"
      [styles]="mapService.styles"
    >
    </agm-map>-->
  </ion-card>

  <!--<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Andere</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content style="padding: 0">
      <ion-item class="settings-item" lines="none">
        <ion-label>Benachrichtigungen stumm schalten</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>-->
</ion-content>
