ngx-qrcode {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}
ion-card {
  background: var(--contrast);
  ion-chip {
    margin: 0;
  }
}
agm-map {
  height: 200px;
}
.user-image {
  height: 100px;
  width: 100px;
  background: #333;
  border-radius: 50%;

  margin: 30px auto;

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.settings-item {
  background: #131313;
  border-radius: 10px;
  padding: 10px;
  ion-toggle {
    margin-top: 10px;
  }
}
