<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{user.name || user.customUsername }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="user-image"
    [style.backgroundImage]="'url(' +  helper.getImageUrl(user.image?.formats?.medium?.url || user.image?.url) + ')'"
  ></div>
  <ion-card>
    <ion-list>
      <ion-item class="mb-5">
        <ion-label>{{ user.name || user.customUsername }}</ion-label>
      </ion-item>
      <ion-item *ngFor="let setup of user.setups" class="my-3">
        <ion-label>
          <small>{{setup.key}}</small>
          <h2>{{setup.value}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Nachrichten</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-chip color="secondary" (click)="sendMessage('Guter Rauch! 💨🙌🏼')">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Guter Rauch! 💨🙌🏼</ion-label>
      </ion-chip>
      <ion-chip
        color="secondary"
        (click)="sendMessage('Kann ich mitrauchen? 🙋‍♂️')"
      >
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Kann ich mitrauchen? 🙋‍♂️</ion-label>
      </ion-chip>
      <ion-chip color="secondary" (click)="sendMessage('Was für Tabak? 🤷‍♂️')">
        <ion-icon name="chatbubbles-outline"></ion-icon>
        <ion-label>Was für Tabak? 🤷‍♂️</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <!--<ion-card>
    <ion-card-header>
      <ion-card-subtitle>QR Code teilen</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ngx-qrcode *ngIf="user.email" [elementType]="elementType" [value]="user.email" [width]="200" [colorDark]="'#fff'" [colorLight]="'#080808'" cssClass="center" errorCorrectionLevel="L">
      </ngx-qrcode>
    </ion-card-content>
  </ion-card>-->
<!--
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Standort</ion-card-subtitle>
    </ion-card-header>

    
    <google-map #map [center]="center" [zoom]="zoom" [options]="options">
      <map-marker
        *ngFor="let marker of markers"
        [position]="marker"
      ></map-marker>
    </google-map>
    <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="true"
      [styles]="mapService.styles"
    >
    </agm-map>
  </ion-card>-->

  <!--<ion-card>
    <ion-card-header>
      <ion-card-subtitle>Andere</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content style="padding: 0">
      <ion-item class="settings-item" lines="none">
        <ion-label>Benachrichtigungen stumm schalten</ion-label>
        <ion-toggle slot="end"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>-->
</ion-content>
