<form #recoveryForm class="form-style">
  <ion-item>
    <ion-input
      type="text"
      required
      [(ngModel)]="model.confirmCode"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Bestätigungscode"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="email"
      required
      [(ngModel)]="model.email"
      [ngModelOptions]="{ standalone: true }"
      placeholder="E-Mail"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      type="password"
      required
      [(ngModel)]="model.password"
      [ngModelOptions]="{ standalone: true }"
      placeholder="Neues Passwort"
      [autofocus]="true"
    ></ion-input
  ></ion-item>
</form>
<ion-button (click)="passwordChange()"> Passwort ändern </ion-button>
