<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="image-wrapper">
    <div
      class="image"
      [style.backgroundImage]="'url(' + helper.getImageUrl(user?.image?.url) + ')'"
    >
      <ion-fab-button (click)="takePicture()"
        ><ion-icon name="camera-outline"></ion-icon
      ></ion-fab-button>
    </div>
  </div>

  <ion-list class="px-5">
    <ion-item class="mb-3" lines="none">
      <ion-label>
        <small>E-Mail</small>
        <h2>{{user.email}}</h2>
        <p></p>
      </ion-label>
    </ion-item>
    <ion-item
      class="mb-3"
      lines="none"
      button
      (click)="change('name', user.name)"
    >
      <ion-label>
        <small>Anzeigename</small>
        <h2>{{user.name}}</h2>
        <p></p>
      </ion-label>
    </ion-item>

    <ion-item
      class="mb-3"
      lines="none"
      button
      (click)="change('username', user.customUsername)"
    >
      <ion-label>
        <small>Benutzername</small>
        <h2>{{user.customUsername}}</h2>
        <p></p>
      </ion-label>
    </ion-item>

    <ion-item
      class="mb-3"
      lines="none"
      button
      (click)="change('phoneNumber', user.phoneNumber)"
    >
      <ion-label>
        <small>Telefon</small>
        <h2>{{user.phoneNumber}}</h2>
        <p></p>
      </ion-label>
    </ion-item>

    <ion-item class="mb-3" lines="none" button (click)="locationEdit()">
      <ion-label>
        <small>Mein Standort</small>
        <h2>{{user.location?.address}}</h2>
        <p></p>
      </ion-label>
    </ion-item>

    <ion-item
      class="mb-3"
      lines="none"
      button
      (click)="change('telegramUsername', user.telegramUsername)"
    >
      <ion-label>
        <small>Telegram Benutzername</small>
        <h2>{{user.telegramUsername}}</h2>
        <p></p>
      </ion-label>
    </ion-item>

    <!-- <ion-item class="mb-3"  lines="none">
      <ion-label>
        <small>Sitzungsdauer</small>
        <h2>{{user.sessionTime}} Minuten</h2>
      </ion-label>
    </ion-item>
<ion-item class="mb-3" >
      <ion-range
        [(ngModel)]="profile.sessionDuration"
        mode="md"
        min="10"
        max="240"
        step="5"
        pin="true"
        snaps="true"
        color="secondary"
      ></ion-range>
    </ion-item>-->
  </ion-list>

  <ion-list class="mt-5 px-5">
    <div class="session-timer">
      <h3 class="mt-0">Dauer der Rauch-Session</h3>
      <p class="mb-3">
        Deine Freunde erhalten eine Benachrichtigung wenn du eine Session
        startest und du wirst als rauchend angezeigt während der Sitzung.
      </p>
      <ion-segment
        mode="ios"
        [value]="user.sessionTime"
        (ionChange)="segmentChanged($event)"
      >
        <ion-segment-button mode="ios" value="30">
          <ion-label>30 Minuten</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" value="60">
          <ion-label>1 Stunde</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" value="120">
          <ion-label>2 Stunden</ion-label>
        </ion-segment-button>
        <ion-segment-button mode="ios" value="240">
          <ion-label>4 Stunden</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div></ion-list
  >

  <ion-list-header class="ion-margin-top">Mein Shisha Setup</ion-list-header>
  <ion-list class="mb-4 px-5">
    <ion-item class="mb-3" button (click)="addShisha()">
      <ion-label> Hinzufügen</ion-label>
    </ion-item></ion-list
  >

  <ion-list class="mb-10 px-5">
    <ion-item-sliding *ngFor="let setup of user.setups" class="mb-3">
      <ion-item>
        <ion-label>
          <small>{{setup.key}}</small>
          <h2>{{setup.value}}</h2></ion-label
        >
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" expandable (click)="delete(setup)">
          Löschen
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <!--<ion-list>
    <ion-item class="mb-3" 
      lines="none"
      button
      (click)="change('myShisha', profile.myShisha)"
    >
      <ion-label>
        <small>Meine Shisha</small>
        <h2>{{profile.myShisha}}</h2>
        <p></p>
      </ion-label>
    </ion-item>

    <ion-item class="mb-3" 
      lines="none"
      button
      (click)="change('myShishaHead', profile.myShishaHead)"
    >
      <ion-label>
        <small>Mein Kopf</small>
        <h2>{{profile.myShishaHead}}</h2>
        <p></p>
      </ion-label>
    </ion-item>

    <ion-item class="mb-3" 
      lines="none"
      button
      (click)="change('myMolassesCatcher', profile.myMolassesCatcher)"
    >
      <ion-label>
        <small>Meine Molassefänger</small>
        <h2>{{profile.myMolassesCatcher}}</h2>
        <p></p>
      </ion-label>
    </ion-item>
  </ion-list>-->
</ion-content>
