.description {
  padding: 15px 20px 0;
}
.deal {
  padding: 20px 20px;
}
.price {
  position: relative;
  padding: 20px 20px;
  // background: linear-gradient(0deg, #171717 0%, #000000 100%);
  text-align: center;

  min-height: 108px;
  .small {
  }
  .amount {
  }

  .offer {
    color: #f44336;
    font-size: 30px;
    font-weight: bold;
  }
  .normal-price {
    text-decoration: line-through;
  }

  .share,
  .wishlist {
    position: absolute;
    top: 30px;
  }
  .share {
    left: -5px;

    --padding-end: 12px;
  }
  .wishlist {
    right: -5px;

    --padding-start: 12px;
  }
}

.main-content {
  width: 100%;
}
.image-wrapper {
  overflow: hidden;
  position: relative;
  .image-background {
    display: block;
    top: 0;
    position: absolute;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: blur(20px);
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      width: 100%;
      height: 100%;
      pointer-events: none;
      opacity: 0.3;
    }
  }
  .image {
    display: block;

    position: relative;
    height: 200px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
  }
}

.ad-image {
  height: 45vh;
}

.ad-container {
  bottom: 60px;
  height: 40vh;
  border-top-left-radius: 23px;
  border-top-right-radius: 23px;
  background-color: #03111e;
}

.ad-toolbar {
  --background: transparent;
  --border-width: 0 !important;
  background: transparent !important;
  .toolbar-background {
    background: transparent !important;
  }
}

.offer {
  color: #f44336;
}
.offer-price {
  text-decoration: line-through;
}