<ion-content fullscreen>
  <ng-container *ngIf="ad" class="relative">
    <ion-header>
      <ion-toolbar class="ad-toolbar">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="tabs/advertising" color="light"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="shareAd()" color="transparent">
            <ion-icon color="light" name="share-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <div class="ad-image absolute top-0 w-full bg-contain bg-white bg-no-repeat bg-center" [style.backgroundImage]="'url(' + helper.getImageUrl(ad.image?.formats?.medium?.url || ad?.image?.url) + ')'"></div>

    <div class="ad-container absolute w-full px-6 z-50">
      <div>

        <div class="flex flex-row items-center">
          <h2 class="text-lg">{{ ad.title }}</h2>
          <ion-button (click)="addOrRemoveFromWishList()" class="wishlist px-0 mx-0 ml-auto" color="transparent">
            <ion-icon *ngIf="!isInWishList" name="heart-outline"></ion-icon>
            <ion-icon *ngIf="isInWishList" name="heart"></ion-icon>
          </ion-button>
        </div>


        <div class="pb-2 mt-3">
          <p *ngIf="ad.offerPrice" class="flex text-center justify-center text-gray-400">
            für nur
            <span class="offer mx-1">{{ ad.offerPrice | currency: "EUR":"symbol" }}</span>
            statt
            <span class="offer-price mx-1">{{ ad.price | currency: "EUR":"symbol" }}</span>
          </p>

        </div>
        <div *ngIf="ad.description" class="mt-4 text-xs">
          <p>{{ad.description}}</p>
        </div>
      </div>
    </div>
  </ng-container>
</ion-content>

<ion-footer *ngIf="ad" style="  
padding: 0 15px 5px;">
  <ion-button *ngIf="!(ad.category?.title === 'Instagram' || ad.category?.title === 'YouTube' || ad.category?.title === 'Spotify')" (touchend)="helper.openLink(ad.link)" class="w-full font-normal mt-4">Jetzt zum Deal</ion-button>
  <ion-button *ngIf="ad.category?.title === 'Instagram'" (touchend)="helper.openLink(ad.link)" class="w-full font-normal mt-4">Zu Instagram</ion-button>
  <ion-button *ngIf="ad.category?.title === 'YouTube'" (touchend)="helper.openLink(ad.link)" class="w-full font-normal mt-4">Zu YouTube</ion-button>
  <ion-button *ngIf="ad.category?.title === 'Spotify'" (touchend)="helper.openLink(ad.link)" class="w-full font-normal mt-4">Zu Spotify</ion-button>

</ion-footer>