<ion-tabs #tabs>
  <ion-tab-bar slot="bottom" class="tabs">
    <ion-tab-button tab="home">
      <ion-icon name="{{currentRoute.startsWith('/tabs/home') ? 'home' : 'home-outline'}}"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="{{currentRoute.startsWith('/tabs/map') ? 'map' : 'map-outline'}}"></ion-icon>
      <!--<ion-label>Wunschliste</ion-label>-->
    </ion-tab-button>

    <ion-tab-button tab="advertising">
      <ion-icon name="{{currentRoute.startsWith('/tabs/advertising') ? 'cart' : 'cart-outline'}}"></ion-icon>
      <!--<ion-label>Wunschliste</ion-label>-->
    </ion-tab-button>

    <!--<ion-tab-button tab="saved">
      <ion-icon name="heart-outline"></ion-icon>
      <<ion-label>Wunschliste</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reviews">
      <ion-icon name="star-outline"></ion-icon>
       <ion-label>Bewertungen</ion-label>
    </ion-tab-button>-->

    <!--<ion-tab-button tab="friends">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Freunde</ion-label>
    </ion-tab-button>-->

    <ion-tab-button tab="settings">
      <ion-icon name="{{currentRoute.startsWith('/tabs/settings') ? 'cog' : 'cog-outline'}}"></ion-icon>
      <!--<ion-label>Einstellungen</ion-label>-->
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
