<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabs">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label>Gespeichert</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="friends">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label>Freunde</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
