<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Info & Aufklärung</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header
      ><ion-card-title> Wasserpeife </ion-card-title></ion-card-header
    >

    <img
      loading="lazy"
      src="assets/no-smoke/Wasserpfeife_/Wasserpfeife_-1.jpg"
    />
  </ion-card>

  <ion-card>
    <img
      loading="lazy"
      src="assets/no-smoke/Wasserpfeife_/Wasserpfeife_-2.jpg"
    />
  </ion-card>

  <ion-card>
    <ion-card-header
      ><ion-card-title> Beratungstelefon </ion-card-title></ion-card-header
    >

    <img
      loading="lazy"
      src="assets/no-smoke/berartungstelefon/berartungstelefon-1.jpg"
    />
  </ion-card>

  <ion-card>
    <img
      loading="lazy"
      src="assets/no-smoke/berartungstelefon/berartungstelefon-1.jpg"
    />
  </ion-card>

  <ion-card>
    <ion-card-header
      ><ion-card-title>
        Shisha Rauchen ist riskant
      </ion-card-title></ion-card-header
    >

    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-01.jpg"
    />
  </ion-card>

  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-02.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-03.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-04.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-05.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-06.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-07.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-08.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-09.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-10.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Shisha_Rauchen_ist_riskant/Shisha_Rauchen_ist_riskant-11.jpg"
    />
  </ion-card>

  <ion-card>
    <ion-card-header
      ><ion-card-title>
        Tabak Basisinformation
      </ion-card-title></ion-card-header
    >

    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-01.jpg"
    />
  </ion-card>

  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-02.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-03.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-04.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-05.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-06.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-07.jpg"
    />
  </ion-card>
  <ion-card>
    <img
      src="assets/no-smoke/Tabak_Basisinformation/Tabak_Basisinformation-08.jpg"
    />
  </ion-card>

  <ion-card>
    <ion-card-header
      ><ion-card-title> Rauchfrei Kalender </ion-card-title></ion-card-header
    >
    <ion-button
      (click)="helper.openPdf('/assets/pdfs/rauchfrei_kalender.pdf')"
      size="small"
      >Mehr Informationen</ion-button
    >
  </ion-card>
</ion-content>
