<ion-content class="ion-text-center">
  <div class="main-d ion-padding ion-margin">
 <div class="img-l">
   <img src="assets/images/t.png">
 </div>

 <div>
   <h1 class="h1-font ion-text-left ">Willkommen bei
    Shisha With Me.</h1>
    <p class="p-font ion-text-left ">
      Benachrichtige deine Freunde wenn du eine Shisha rauchst, so dass sie sich dir anschließen können.
    </p>
 </div>

 <!-- Default Segment -->
<ion-segment class="seg-set"
mode="ios"
[value]="currentTab"
(ionChange)="changeTab($event)">
  <ion-segment-button value="E-Mail">
    <ion-label>E-Mail</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Telefon">
    <ion-label>Telefon</ion-label>
  </ion-segment-button>
</ion-segment>

<div class="center ion-padding-top" *ngIf="currentTab == 'E-Mail'">
  <form>
    <div class="text-center2 ">
      <ion-item lines="none" class="login-inputs ">
        <ion-input class="input-col" placeholder="Username/Email"></ion-input>
      </ion-item>
    </div>

    <div class="text-center2">
     <ion-item lines="none" class="login-inputs mr">
        <ion-input class="input-col" placeholder="Password" type="Password"
        ></ion-input>
        <ion-icon  class="eye-icon"  name="eye-off"></ion-icon>
      </ion-item>
    </div>

    <div class="text-center3">
      <ion-button class="btn-h ion-margin-bottom" color="danger" expand="block">
        Registrieren
       </ion-button>
    </div>
  </form>

</div>

<div class="center" *ngIf="currentTab == 'Telefon'">
  <form>
    <div class="text-center2 mr">
      <ion-item lines="none" class="login-inputs ">
        <ion-input class="input-col" placeholder="Telefon-No"></ion-input>
      </ion-item>
    </div>

  <ion-button class="btn-h ion-margin-bottom" color="danger" expand="block">
    Confirm
   </ion-button>
  </form>
</div>


 <div >
 <ion-note class="note-f">
  Ich habe die Allgemeine Geschäftsbedingung und Datenschutzerklärung gelesen und akzeptiere diese.
 </ion-note>
  
 </div>
</div>

</ion-content>
