.h1-font{
    font-size: 33px;
  }
  .btn-h{
     height: 48px;;
  }
  .img-l{
    position: relative;
    top: 31px;
    right: 34px;
  }
  .main-d{
    position: relative;
    top: 27px;
  }
  .login-inputs{
    border: 3px solid #384455;
    border-radius: 9px;
    --background: #2B3441;
  }
  .note-f{
    font-size: 12px;
  }
  .mr{
    margin-top: 7px;
    margin-bottom: 12px;
  }