.info {
  text-align: center;
  font-size: 14px;
  color: #afafaf;
  margin-top: 20px;
}

.logout {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.language {
  img {
    max-height: 25px;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.no-smoke {
  img {
    height: 60px;
    width: auto;
  }
}
