<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Einstellungen</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list-header> <ion-label>Allgemein</ion-label> </ion-list-header>
  <ion-list>
    <ion-item class="mb-3" button (click)="goToProfile()">
      <ion-label> {{authService.user?.name}} </ion-label>
    </ion-item>
    <ion-item class="mb-3" button [routerLink]="'/friends'">
      <ion-label> Freunde </ion-label>
    </ion-item>

    <!--<ion-item class="mb-3"  button [routerLink]="['/history']">
      <ion-label> Verlauf </ion-label>
    </ion-item>-->
  </ion-list>
  <ion-list class="ion-margin-top"
    ><ion-item class="mb-3" class="no-smoke" button (click)="goToNoSmoke()">
      <img loading="lazy" slot="start" src="/assets/rauchfrei.png" />
      <!--<ion-label>Gesundheit</ion-label>-->
    </ion-item></ion-list
  >

  <!--<ion-list-header> Einstellungen </ion-list-header>
  <ion-list>
    <ion-item class="mb-3"  class="language" button (click)="selectLanguage($event)">
      <ion-label> {{'Language' |translate}} </ion-label>
      <span slot="end">
        <img loading="lazy" *ngIf="language.code == 'de'" src="./assets/icons/DE.png" />
        <img loading="lazy" *ngIf="language.code == 'en'" src="./assets/icons/US.png" />
      </span>
    </ion-item>-->

  <!-- <ion-item class="mb-3" >
      <ion-label>Dunkelmodus</ion-label>
      <ion-toggle
        slot="end"
        [(ngModel)]="helper.darkModeEnabled"
        (ngModelChange)="helper.setDarkMode($event)"
      >
      </ion-toggle>
    </ion-item>

    <ion-item class="mb-3"  (click)="selectThemeNew()" button>
      <ion-label
        ><h2>Theme</h2>
        <p>Personalisiere die Farben deiner App</p></ion-label
      >

      <ion-badge slot="end">{{theme}}</ion-badge>
    </ion-item> 
  </ion-list>-->

  <ion-list-header> {{'Other' |translate}} </ion-list-header>
  <ion-list>
    <!--<ion-item class="mb-3"  button (click)="helper.openLink('https://codext.de/kontakt/')">
      <ion-label> Frage senden </ion-label>
    </ion-item>-->
    <ion-item class="mb-3" button (click)="openContact()">
      <ion-label> Kontakt </ion-label>
    </ion-item>
    <ion-item
      class="mb-3"
      button
      (click)="helper.openLink('https://codext.de/impressum/')"
    >
      <ion-label> {{'Imprint' |translate}} </ion-label>
    </ion-item>
    <ion-item
      class="mb-3"
      button
      (click)="helper.openLink('https://codext.de/datenschutz/')"
    >
      <ion-label> {{'Privacy' |translate}} </ion-label>
    </ion-item>

    <ion-item class="mb-3" button [routerLink]="'/onboarding'">
      <ion-label> On-Boarding </ion-label>
    </ion-item>
  </ion-list>

  <div class="logout">
    <ion-button (click)="logout()" color="danger" fill="outline" size="small"
      >Abmelden</ion-button
    >
  </div>

  <p class="info">
    <!--<small>Version ##bitrise-tag##</small><br />

    <strong>Shisha With Me 💝</strong>-->
  </p>
</ion-content>
