<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Karte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="background-gradient"></div>
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Karte</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="z-10 p-5">
    <ion-segment
      class="z-10"
      mode="ios"
      [value]="currentTab"
      (ionChange)="changeTab($event)"
    >
      <ion-segment-button mode="ios" value="map"> Karte </ion-segment-button>
      <ion-segment-button mode="ios" value="friends">
        Freunde
      </ion-segment-button>
    </ion-segment>
  </div>

  <!--<ion-button fill="none" class="close" (click)="close()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>-->
  <div [hidden]="!(currentTab == 'map')" class="map">
    <google-map [center]="center" [zoom]="zoom" [options]="options">
      <map-marker
        *ngFor="let markerPosition of markerPositions"
        [position]="markerPosition"
      ></map-marker>
    </google-map>
  </div>
  <div *ngIf="currentTab == 'friends'" class="p-5">
    Freunde

    <div class="py-5">
      <ion-button color="primary" expand="block" (click)="share()"
        >Teile die App mit Freunden</ion-button
      >
    </div>
  </div>
  <ion-fab
    *ngIf="currentTab == 'map'"
    vertical="bottom"
    horizontal="start"
    slot="fixed"
  >
    <ion-fab-button (click)="getCurrentPosition()" [disabled]="locationLoading">
      <ion-icon *ngIf="!locationLoading" name="location-outline"></ion-icon>
      <ion-spinner *ngIf="locationLoading"></ion-spinner>
    </ion-fab-button>
  </ion-fab>
  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentPopover($event)">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>
