<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>Karte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title size="large">Karte</ion-title>
    </ion-toolbar>
  </ion-header>

  <!--<ion-button fill="none" class="close" (click)="close()">
    <ion-icon name="close-circle-outline"></ion-icon>
  </ion-button>-->
  <div class="map">
    <google-map [center]="center" [zoom]="zoom" [options]="options">
      <map-marker
        *ngFor="let markerPosition of markerPositions"
        [position]="markerPosition"
      ></map-marker>
    </google-map>
  </div>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button (click)="getCurrentPosition()" [disabled]="locationLoading">
      <ion-icon *ngIf="!locationLoading" name="location-outline"></ion-icon>
      <ion-spinner *ngIf="locationLoading"></ion-spinner>
    </ion-fab-button>
  </ion-fab>

  <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="presentPopover($event)">
      <ion-icon name="funnel-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>-->
</ion-content>
