#pac-input {
  //display: none;
}

ion-content {
  --background: transparent !important;
  --overflow: hidden;
}

.map {
  position: absolute;

  height: calc(100vh - 70px);
  top: 0;
  left: 0;
  width: 100%;

  border-radius: 20px;
  overflow: hidden;

  google-map {
    height: 100%;
    width: 100%;
    ::ng-deep {
      .map-container {
        height: 100% !important;

        width: 100% !important;
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1;
  }
}

ion-fab {
  bottom: 50px;
}
