<ion-header>
  <ion-toolbar>
    <ion-title>Equipment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="p-5">
  <div
    class="
      block
      text-sm text-left text-purple-600
      bg-purple-200
      border border-purple-400
      h-12
      flex
      items-center
      p-4
      rounded-sm
    "
  >
    Hier kannst du weiteres Setup hinzufügen.
  </div>

  <ion-radio-group
    ><ion-list>
      <ion-item
        ><ion-label>Meine Shisha</ion-label> <ion-radio value="cord"></ion-radio
      ></ion-item>
      <ion-item
        ><ion-label>Mein Kopf</ion-label> <ion-radio value="cord"></ion-radio
      ></ion-item>
      <ion-item
        ><ion-label>Meine Molassefänger </ion-label
        ><ion-radio value="cord"></ion-radio
      ></ion-item> </ion-list
  ></ion-radio-group>
</ion-content>
