<ion-header>
  <ion-toolbar>
    <ion-title>Equipment</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-5">
    <div
      class="
        block
        text-sm text-left text-gray-600
        bg-gray-200
        border border-gray-400
        h-12
        flex
        items-center
        p-4
        rounded-sm
      "
    >
      Hier kannst du weiteres Setup hinzufügen.
    </div>
  </div>

  <ion-radio-group
    ><ion-list>
      <ion-item
        ><ion-label>Meine Shisha</ion-label> <ion-radio value="cord"></ion-radio
      ></ion-item>
      <ion-item
        ><ion-label>Mein Kopf</ion-label> <ion-radio value="cor1d"></ion-radio
      ></ion-item>
      <ion-item
        ><ion-label>Meine Molassefänger </ion-label
        ><ion-radio value="cor2d"></ion-radio
      ></ion-item> </ion-list
  ></ion-radio-group>
</ion-content>
