<ion-header>
  <ion-toolbar>
    <ion-title>walkthrough</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>
    <ion-slide>
      <div class="slide">
        <img loading="lazy" src="./slide-1.png" />
        <h2>Willkommen in der Community</h2>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
          nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
          sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
          rebum.
        </p>
      </div>
    </ion-slide>

    <ion-slide>
      <img loading="lazy" src="./slide-2.png" />
      <h2>Was ist Shisha With Me?</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
    </ion-slide>

    <ion-slide>
      <img loading="lazy" src="./slide-3.png" />
      <h2>Wie funktioniert Shisha With Me?</h2>
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
      </p>
    </ion-slide>

    <ion-slide>
      <img loading="lazy" src="./slide-4.png" />
      <h2>Bereit, loszulegen?</h2>
      <ion-button fill="clear"
        >Starten <ion-icon slot="end" name="arrow-forward"></ion-icon
      ></ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
