<ion-content>
  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="pt-4 h-16">
      <ion-buttons slot="start">
        <ion-back-button
          defaultHref="tabs/settings/profile"
          color="dark"
        ></ion-back-button>
      </ion-buttons>
      <ion-title class="text-3xl font-normal">Bearbeiten</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="px-7 mt-10">
    <ion-label>Benutzername ändern</ion-label>
    <ion-item class="mt-1 mb-4">
      <ion-input [(ngModel)]="model.username"></ion-input>
      <ion-icon name="create-outline"></ion-icon>
    </ion-item>
    <ion-label>Passwort ändern</ion-label>
    <ion-item class="mt-1 mb-4">
      <ion-input type="password" [(ngModel)]="model.password"></ion-input>
      <ion-icon name="create-outline"></ion-icon>
    </ion-item>
    <ion-label>Telegram Benutzername</ion-label>
    <ion-item class="mt-1 mb-4">
      <ion-input [(ngModel)]="model.telegram"></ion-input>
      <ion-icon name="create-outline"></ion-icon>
    </ion-item>
    <ion-label>Instagram Benutzername</ion-label>
    <ion-item class="mt-1 mb-4">
      <ion-input [(ngModel)]="model.instagram"></ion-input>
      <ion-icon name="create-outline"></ion-icon>
    </ion-item>
    <ion-label>Telefonnummer</ion-label>
    <ion-item class="mt-1">
      <ion-input type="tel" [(ngModel)]="model.phone"></ion-input>
      <ion-icon name="create-outline"></ion-icon>
    </ion-item>
  </div>
  <div slot="fixed" class="bottom-4 w-full px-8">
    <ion-button (click)="save()" color="primary" class="w-full font-normal"
      >Speichern</ion-button
    >
  </div>
</ion-content>
