<ion-content [fullscreen]="true">

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar class="pt-4">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="tabs/settings/profile" color="dark"></ion-back-button>
      </ion-buttons>
      <ion-title class="text-3xl font-normal">Bearbeiten</ion-title>
    </ion-toolbar>
  </ion-header>

  <div slot="fixed" class="bottom-4 w-full px-8">
    <ion-button color="primary" class="w-full font-normal">Speichern</ion-button>
  </div>
</ion-content>