<ion-header>
  <ion-toolbar>
    <ion-title>Ort</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="place.photos[0]?.getUrl()" />
    <ion-card-header>
      <ion-card-subtitle
        ><ion-badge
          color="success"
          *ngIf="place.business_status == 'OPERATIONAL'"
          >Geöffnet</ion-badge
        ></ion-card-subtitle
      >
      <ion-card-title>{{place.name}}</ion-card-title>
    </ion-card-header>

    <ion-list lines="none">
      <ion-item>
        <ion-icon slot="start" name="analytics-outline"></ion-icon>
        <ion-label>Rating</ion-label>
        <ion-badge slot="end">{{place.rating}} </ion-badge>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" name="star-outline"></ion-icon>
        <ion-label>Bewertungen</ion-label>
        <ion-badge slot="end">{{place.user_ratings_total}}</ion-badge>
      </ion-item>
      <ion-item lines="none">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <ion-label>Adresse</ion-label>
      </ion-item>
      <ion-item> <ion-badge>{{place.vicinity}}</ion-badge></ion-item>
    </ion-list>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="navigate()">
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
