<ion-header>
  <ion-toolbar>
    <ion-title>Ort</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div
      class="bg-cover bg-no-repeat h-52 w-full bg-center"
      [style.backgroundImage]="'url(' + helper.getImageUrl(location?.images[0]?.url) +')'"
    ></div>
    <ion-card-header >
      <ion-card-subtitle
        ><ion-badge
          color="success"
          *ngIf="place?.business_status === 'OPERATIONAL'"
          >Geöffnet</ion-badge
        ></ion-card-subtitle
      >
      <ion-card-title>{{location?.name}}</ion-card-title>
    </ion-card-header>

  
  </ion-card>

  <div class="" style="
  padding: 15px;">
    <ion-list lines="none">
      <!--<ion-item *ngIf="location?.rating">
        <ion-icon slot="start" name="analytics-outline"></ion-icon>
        <ion-label>Rating</ion-label>
        <div class="flex h-full items-center mt-2"><ngx-stars
          [wholeStars]="true"
          [readonly]="true"
          [size]="2"
          [color]="'#fff'"
          [maxStars]="5"
          [initialStars]="location?.rating"
        ></ngx-stars></div>
      </ion-item>-->
      <!--<ion-item>
        <ion-icon slot="start" name="star-outline"></ion-icon>
        <ion-label>Bewertungen</ion-label>
        <ion-badge slot="end">{{place?.user_ratings_total}}</ion-badge>
      </ion-item>-->
      <ion-item class="address"  lines="none" *ngIf="location?.location?.address">
        <div class="flex flex-col">
          <div class="flex py-3 items-center"><ion-icon class="mr-3" slot="start" name="home-outline"></ion-icon>
            <ion-label>Adresse</ion-label></div>
  
          <div><ion-badge class="whitespace-pre-line text-left">{{location?.location?.address}}</ion-badge></div>
        </div>
      </ion-item>
     
    </ion-list>
  </div>

  <ion-fab
    *ngIf="location?.location?.lat"
    vertical="bottom"
    horizontal="end"
    slot="fixed"
  >
    <ion-fab-button (click)="navigate()">
      <ion-icon name="navigate-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
