<ion-list lines="none">
  <ion-item class="friends">
    <ion-icon slot="start" name="people-outline"></ion-icon>
    <ion-label>Freunde</ion-label>
    <ion-toggle slot="end" color="friends"></ion-toggle>
  </ion-item>
  <ion-item class="bars">
    <ion-icon slot="start" name="pint-outline"></ion-icon>
    <ion-label>Bars</ion-label>
    <ion-toggle slot="end" color="bars"></ion-toggle>
  </ion-item>
  <!-- <ion-item class="shops">
    <ion-icon slot="start" name="pricetag-outline"></ion-icon>
    <ion-label>Shops</ion-label>
    <ion-toggle slot="end" color="shops"></ion-toggle>
  </ion-item>-->
</ion-list>
