<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen scrollEvents="true" parallax-header>
  <div
    class="header-image"
    [ngStyle]="{'background-image': 'url(' + bgImage + ')'}"
  ></div>
  <div class="main-content">
    <h1>TNF Mountain Jacket</h1>

    <div class="price">
      <ion-button class="share">d</ion-button>
      <div class="small">für nur</div>
      <div class="amount">69,00 €</div>
      <div class="small">statt 99,00 €</div>
      <ion-button class="wishlist">d</ion-button>
    </div>
  </div>
</ion-content>
