.offer {
  color: #f44336;
}
.offer-price {
  text-decoration: line-through;
}
ion-card-header {
  padding-bottom: 0;

  ion-card-title {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    display: block !important;
    display: -webkit-box !important;
    flex-grow: 1;
    font-size: 23px;
    font-weight: 600;
    height: 62px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
}

.image-wrapper {
  overflow: hidden;
  position: relative;
  .image-background {
    display: block;
    top: 0;
    position: absolute;
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: blur(20px);
    z-index: 1;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background: #000;
      width: 100%;
      height: 100%;
      pointer-events: none;
      opacity: 0.3;
    }
  }
  .image {
    display: block;

    position: relative;
    height: 200px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
  }
}
