<ion-card [routerLink]="['/advertising', ad.id]" button>
  <div class="image-wrapper">
    <div
      class="image-background"
      [style.backgroundImage]="'url(' + ad.image + ')'"
    ></div>

    <div class="image" [style.backgroundImage]="'url(' + ad.image + ')'"></div>
  </div>

  <ion-card-header>
    <ion-card-title>{{ ad.name }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>
      für nur <span class="offer">{{ ad.offerPrice }} €</span> statt
      <span class="price">{{ ad.price }} €</span>
    </p>
  </ion-card-content>
</ion-card>
