<ion-content class="ion-text-center">
  <div class="wrapper">
    <div>
      <h1>Willkommen</h1>
      <p>Du musst über 18 sein, um diese Seite zu besuchen</p>

      <div class="ion-margin-top year-input">
        <p>Bitte gib dein Geburtsdatum ein</p>
        <input [(ngModel)]="year" type="number" />
      </div>
    </div>

    <div class="small">
      <p>
        Indem du diese Seite besuchst, stimmst du unseren Nutzungsbedinungen und
        unserer Datenschutzrichtlinie zu. Bitte teile keine Informationen dieser
        Seite mit Minderjährigen.
      </p>

      © 2020 Shisha With Me <br />Alle Reche vorbehalten
      <br />Verantwortungsvoll genießen
    </div>
  </div>
</ion-content>
