ion-content {
  --background: rgba(0, 0, 0, 0.7) !important;
  backdrop-filter: blur(10px);
  .wrapper {
    color: #fff;
    h1 {
      text-transform: uppercase;
    }
    display: block;
    height: 100%;
    display: flex;
    justify-content: space-between;

    flex-direction: column;
    padding: 15px;
    input {
      height: 80px;
      width: 130px;
      border: 8px solid #ffffff;
      background: transparent;
      text-align: center;
      font-size: 25px;
      &:focus {
        outline: none;
      }
    }
  }
  .year-input {
    margin-top: 40px;
    background: #071c2f;
    padding: 20px;
    border-radius: 20px;
  }
  .small {
    opacity: 0.4;
    font-size: 12px;
    a {
      color: #fff;
    }
  }
}
.title {
  .logo {
    width: 100px;
    height: 100px;
    background: #333;
    margin-bottom: 30px;
  }

  .border-box {
    // border: 1px solid #b2ccd3;
    margin-top: 30px;
    padding: 10px 15px;
    .small-font {
      // font-size: 16px;
    }
    span {
      font-size: 30px;
    }
    .app-name {
      padding-top: 20px;
      display: block;
    }
  }

  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
  font-size: 22px;
  width: 70%;
  margin: 30px auto;

  strong {
    font-weight: bolder;
    font-size: 43px;
  }

  span {
    font-size: 18px;

    font-weight: 300;
  }
}
