<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Shop</ion-title>
    <ion-buttons slot="end">
      <div class="relative" (click)="wishListPage()">
        <ion-button class="px-0 mx-0" color="transparent" size="small">
          <ion-icon class="h-6 w-6" name="heart-outline"></ion-icon>
        </ion-button>
        <div
          class="badge absolute top-0 right-0 -mr-1 bg-red-500 rounded-full"
          *ngIf="wishlistService.wishlist"
        >
          {{wishlistService.wishlist?.length}}
        </div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="mt-2 pt-2 px-6 flex justify-center h-16">
    <ion-searchbar
      class="z-10 h-5/6"
      [(ngModel)]="searchTerm"
      (ngModelChange)="search()"
      placeholder="Suche..."
    ></ion-searchbar>
  </div>

  <!-- <ion-segment mode="ios" class="mt-10" *ngIf="selectedCategory" class="ml-6 mt-4" scrollable [value]="selectedCategory" (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let category of data" [value]="category" class="bg-transparent" class="pr-3">
      <ion-label>{{category.title}}</ion-label>
    </ion-segment-button>
  </ion-segment>-->

  <div class="px-6 pt-1">
    <div class="overflow-x-auto flex">
      <div
        class="pr-5 py-5 pb-2 cursor-pointer"
        style="color: #809fb8"
        [class.opacity-50]="category.id !== selectedCategory.id"
        *ngFor="let category of data"
        (click)="setTab(category)"
      >
        {{category.title}}
      </div>
    </div>
  </div>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!--<div class="swipe-area">
    <ion-slides slidesPerView="auto">
      <ion-slide *ngFor="let topDeal of topDeals">
        <div [routerLink]="['/advertising', topDeal.id]">
          <div
            class="image"
            [style.backgroundImage]="'url(' + helper.getImageUrl(topDeal.image?.formats?.small?.url) + ')'"
          ></div>
          <p class="ion-text-center">{{topDeal.title}}</p>
        </div>
      </ion-slide>
    </ion-slides>
  </div>-->

  <div class="p-3 pt-0">
    <app-ad-item *ngFor="let ad of sorted" [ad]="ad"></app-ad-item>
  </div>
</ion-content>
<ion-footer> </ion-footer>
