ion-slide {
  padding: 15px;
  padding-bottom: 0px;
  max-width: 95px;
  .image {
    margin: 0 auto;
    width: 65px;
    height: 65px;
    // border: 2px solid black;
    box-shadow: 0 0 0 2px var(--ion-color-bars-tint);
    border-radius: 50px;
    background-color: #ddd;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  p {
    font-size: 13px;
    max-width: 70px;
  }
}
ion-slides {
  height: auto;
}

ion-card.flex {
  display: flex;
}

ion-card {
  img {
    margin-bottom: -5px;
  }
  ion-button {
    margin-left: auto;
    width: calc(100% - 40px);
    margin: 15px 20px 20px;
  }
}
