@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~swiper/swiper.scss';
@import './assets/fonts/stylesheet.css';

.cupertino-pane-home {
  z-index: 9000;
}
small {
  opacity: 0.5;
}
.header-image {
  height: 30vh;
  position: relative;
  background-color: #d3ff7f;
  background-size: cover;

  background-position: center;

  &::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    mix-blend-mode: var(--cs-mode-image);
    background: var(--cs-gradient-linear);
  }

  .icon-small {
    color: var(--cs-icon-color-secondary, #ffffff) !important;
    position: relative;
    z-index: 999;
  }
}

.title {
  text-shadow: 5px 0 20px #ffeb3b, 0 0 20px #ffeb3b, 0 0 20px #ff9800;
  color: #fff;
  width: 100%;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.176;
  font-weight: 300;
  padding-bottom: 4.5px;
  font-family: 'neoneonregular';
}

.overlay {
  /*background: linear-gradient(
    to bottom,
    rgb(244, 246, 249) 0%,
    rgba(244, 246, 249, 0.987) 8.1%,
    rgba(244, 246, 249, 0.951) 15.5%,
    rgba(244, 246, 249, 0.896) 22.5%,
    rgba(244, 246, 249, 0.825) 29%,
    rgba(244, 246, 249, 0.741) 35.3%,
    rgba(244, 246, 249, 0.648) 41.2%,
    rgba(244, 246, 249, 0.55) 47.1%,
    rgba(244, 246, 249, 0.45) 52.9%,
    rgba(244, 246, 249, 0.352) 58.8%,
    rgba(244, 246, 249, 0.259) 64.7%,
    rgba(244, 246, 249, 0.175) 71%,
    rgba(244, 246, 249, 0.104) 77.5%,
    rgba(244, 246, 249, 0.049) 84.5%,
    rgba(244, 246, 249, 0.013) 91.9%,
    rgba(244, 246, 249, 0) 100%
  );*/
  background: linear-gradient(
    180deg,
    rgba(244, 246, 249, 0) 0%,
    rgba(244, 246, 249, 1) 30%,
    rgba(244, 246, 249, 1) 50%,
    rgba(244, 246, 249, 1) 70%,
    rgba(244, 246, 249, 0) 100%
  );
}

.dark {
  ion-card {
    background: #333;
  }
  .overlay {
    /*background: linear-gradient(
      to bottom,
      black 0%,
      rgba(0, 0, 0, 0.987) 8.1%,
      rgba(0, 0, 0, 0.951) 15.5%,
      rgba(0, 0, 0, 0.896) 22.5%,
      rgba(0, 0, 0, 0.825) 29%,
      rgba(0, 0, 0, 0.741) 35.3%,
      rgba(0, 0, 0, 0.648) 41.2%,
      rgba(0, 0, 0, 0.55) 47.1%,
      rgba(0, 0, 0, 0.45) 52.9%,
      rgba(0, 0, 0, 0.352) 58.8%,
      rgba(0, 0, 0, 0.259) 64.7%,
      rgba(0, 0, 0, 0.175) 71%,
      rgba(0, 0, 0, 0.104) 77.5%,
      rgba(0, 0, 0, 0.049) 84.5%,
      rgba(0, 0, 0, 0.013) 91.9%,
      rgba(0, 0, 0, 0) 100%
    );*/
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      #292b2b 30%,
      #292b2b 50%,
      #292b2b 70%,
      rgba(0, 0, 0, 0) 100%
    );

    /*background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 50%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );*/
  }
}

.transparent-background {
  .modal-wrapper {
    --background: transparent !important;
  }
}

.ios {
  ion-toolbar {
    background: var(--contrast);
  }

  ion-refresher {
    ion-spinner,
    ion-icon {
      color: #fff !important;
    }
    ::ng-deep {
      ion-spinner {
        color: #fff !important;
      }
    }
  }
}

ion-button,
button {
  text-transform: none !important;
  &.bold {
    font-weight: bold !important;
  }
}

ion-toolbar {
  ::ng-deep {
    .toolbar-container {
      overflow: hidden;
      border-radius: 4px;
    }
  }
}
.toast-top-right {
  top: 60px;
  right: 12px;
}
ion-tabs {
  ion-tab-button {
    transform: scale(0.7);
  }
  .tab-selected {
    transform: scale(0.9);
    transition: transform 0.1s ease-in-out;
  }
}

.shisha-with-me {
  ion-list-header.ios {
    &:first-of-type {
      margin-top: 0;
    }

    font-size: 14px;
    text-transform: uppercase;
    //font-weight: 300;
    padding-bottom: 8px;
    margin-left: -5px;
  }

  ion-list[header='ios'] {
    margin-top: 0;
  }

  ion-list {
    border-top: 1px solid #d9dce0;
    border-bottom: 1px solid #d9dce0;

    ion-item {
      --border-color: #d9dce0;
    }

    ion-item:last-of-type {
      --border-color: transparent;
    }
  }
  ion-list.md {
    padding: 0;
  }

  ion-list-header {
    text-transform: none !important;
  }
}

ion-fab-button[data-desc] {
  position: relative;
}

ion-fab-button[data-desc]::after {
  position: absolute;
  content: attr(data-desc);
  z-index: 1;
  right: 55px;
  bottom: 4px;
  background-color: var(--ion-color-light);
  padding: 9px;
  border-radius: 15px;
  color: var(--ion-color-dark);
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
    0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
ion-list[lines='none'] {
  border: none !important;
}

.pink {
  font-weight: bold;
  color: var(--ion-color-shops) !important;
}
.blue {
  font-weight: bold;
  color: var(--ion-color-bars) !important;
}

.red {
  font-weight: bold;
  color: var(--ion-color-danger-shade) !important;
}

.green {
  font-weight: bold;
  color: var(--ion-color-success) !important;
}

.yellow {
  font-weight: bold;
  color: var(--ion-color-friends) !important;
}
