<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/map"></ion-back-button>
    </ion-buttons>

    <ion-title> Hinzufügen </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-friends-add-list></app-friends-add-list>-->

  <div class="mt-4 px-6">
    <ion-searchbar
      animated="true"
      placeholder="Freunde suchen"
      [(ngModel)]="searchInput"
      debounce="500"
      (ionChange)="search()"
    ></ion-searchbar>

    <ion-segment
      mode="ios"
      (ionChange)="segmentChanged($event)"
      class="mt-4"
      [value]="searchForProperty"
    >
      <ion-segment-button mode="ios" value="customUsername">
        <ion-label>Name</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="instagram">
        <ion-label>Instagram</ion-label>
      </ion-segment-button>
      <ion-segment-button mode="ios" value="phoneNumber">
        <ion-label>Telefon</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list lines="none" class="mt-7 px-6">

    <div *ngIf="searchInput.length === 0 && users.length === 0" class="text-center">
      Suche deine Freunde
    </div>
    <div *ngIf="searchInput.length > 0 && users.length === 0 && !searching" class="text-center">
      Keine Ergebnisse gefunden
    </div>
  
    <div *ngIf="searching" class="text-center">
      <ion-spinner></ion-spinner>
    </div>

    <ion-item *ngFor="let user of users" class="mb-5 py-2">
      <ion-avatar slot="start">
        <div
          class="bg-cover bg-no-repeat h-10 w-10 rounded-full"
          [style.backgroundImage]="'url(' + helper.getImageUrl(user.image?.formats?.medium?.url || user.image?.url) + ')'"
        ></div>
      </ion-avatar>
      <ion-label>
        <h2>{{ user.customUsername || user.name }}</h2>
      </ion-label>
      <ion-button
        *ngIf="!user.isFriend"
        [disabled]="user.loading"
        slot="end"
        (click)="sendRequest(user)"
      >
        <ion-spinner class="mr-3" *ngIf="user.loading"></ion-spinner>
        Verbinden
      </ion-button>
    </ion-item>
  </ion-list>

  <!--
    <div slot="fixed" class="bottom-4 w-full px-8">
      <ion-button color="primary" class="w-full font-normal" disabled>Freund hinzufügen</ion-button>
    </div>
  -->
</ion-content>
