<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Personen entdecken</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      <ion-label>Vorschläge</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let friend of friends">
      <ion-avatar slot="start">
        <img [src]="helper.getImageUrl(friend.image?.url)" />
      </ion-avatar>
      <ion-label>
        <h2>{{friend.name}}</h2>
        <p>{{friend.Platform}}</p>
      </ion-label>
      <ion-button slot="end" (click)="connect(friend)"> Verbinden </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
